{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Menu</title>
    <link rel="stylesheet" href="{% static 'home.css' %}"> 
</head>
<body> 
    <div class="navbar">
      <a href="{% url 'portfolio' %}">Portfolio</a>
      <a href="{% url 'logout' %}">Logout</a>
     </div>
    
     


     {% block scripts %}

     {% endblock scripts %}
</body>
</html>