<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ request.resolver_match.kwargs.stock_ticker }}</title>
  </head>
  <body
    class="bg-gray-200 min-h-screen flex flex-col items-center justify-center gap-2"
  >
    <div
      class="navbar text-black flex flex-row bg-white items-end justify-end rounded-2xl shadow-2xl w-full"
    >

    <div class=" flex items-center gap-2 mb-8 ">
        <a href="{% url 'portfolio' %}">Portfolio</a>

    </div>
      
      <a href="{% url 'logout' %}">Logout</a>
    </div>

    <!--  -->
    <div class="stock-order">

    </div>
  </body>
</html>
