kentrocenter/db.sqlite3
kentrocenter/kentrocenterback/.env
.venv
kentrocenter/kentrocenterback/KOSAI.py
kentrocenter/kentrocenter/settings.py
kentrocenter/kentrocenterback/models.py
kentrocenter/kentrocenterback/backend.py
kentrocenter/kentrocenterback/financial_models.py
*.pyc
__pycache__/