@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  
  --spacing: 0.75rem; 

}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-mono-forensic {
    font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', monospace;
    letter-spacing: -0.05em;
}

body{
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    color: #1a1a1a; 
    letter-spacing: -0.015em; 
    line-height: 1.6;
}


.navbar{
    padding: 10px 20px;
}

.navbar a:hover{
    background: transparent;
    transform: scale(1.1);
    box-shadow: 0 0 10px #57A0C1,
                0 0 20px #57A0C1,
                0 0 40px #57A0C1,
                0 0 80px #57A0C1;
    text-shadow: 0 0 5px #FFF,
                 0 0 10px #57A0C1,
                 0 0 20px #57A0C1;
    transition: all 0.3s ease;

}




a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}